html {
	background-color: #F9F5EB;
  color: black;
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Fields';
  line-height: 1.4;
}

/* TOP NAV CONTENT */
a:visited {
	text-decoration: none;
	color: black;
}

a:link {
	text-decoration: none;
}

a:hover {
	color: #03C988;
	font-weight: 400;
}

/* PORTFOLIO BEGINS HERE */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-logo {
	padding: 0 0 0 200px;
}

.site-navigation {
	font-size: 12px;
	display: flex;
	gap: 80px;
	padding: 0 200px 0 0;
	text-transform: uppercase;
}

.site-navigation h3:hover {
	color: #03C988;	
	font-weight: 400;
	cursor: pointer;
}

@media (max-width: 1100px) {
  .site-navigation {
    display: none;
  }

  #hamburger-icon {
  	display: block;
  	text-align: right;
  }
}

@media (min-width: 1100px) {
	#hamburger-icon {
		display: none;
	}
}

/* DROPDOWN MENU */
.hamburger-menu {
	padding: 0 200px 0 0;
}

.dropdown-menu {
	display: none;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 65px;
  z-index: 10;
  width: 115px;
}

.dropdown-menu#menu-1 {
  left: 810px;
  padding: 0;
}

.menu-item-list li a,
.menu-item-list li a:hover,
.menu-item-list li a:focus {
  color: #454545;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.show {
  display: block;
}

a { 
	color: inherit;
 }

.dropdown-menu.open-menu {
	max-height: 400px;
}

.menu-item-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 2;
	text-transform: uppercase;
	cursor: poitner;
	transition: background 0.9s;
}

.menu-item-list li a:hover {
	color: #03C988;
	font-weight: 400;
}

/* OFF CANVAS MENU CONTENT */
.side-menu-position {
	padding-top: 25px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.side-menu-design {
	background-color: #F9F5EB;
	background-size: 1300px 700px;
  background-repeat: repeat;
  cursor: pointer;
  opacity: 0;
  transform: translateX(100%);
  transition: 0.4s ease-in-out;
}

.side-menu-header {
  border-bottom: 1px solid rgba(255,255,255,.1);
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 36px 50px 20px 25px;  
}

.go-back-index {
	padding-left: 30px;
	font-size: 28px;
}

.side-menu-content {
  color: black;
  font-size: 24px; 
  margin: 25px;
  padding-left: 30px;
}

.small-side-text {
	font-size: 12px;
	padding-left: 20px;
}

.side-menu-content li {
  list-style: none;
  margin-bottom: 25px;
}

.side-menu-content li a:hover {
	color: #03C988;
	font-weight: 400;
}

.show-menu {
  opacity: 1;
  transform: translateX(0%);
}


/* TOP INTRO CONTENT */
.about-content {
	justify-content: center;
	align-items: center;
}

.introduction {
	padding: 80px 0 80px 0;
	font-size: 30px;
	display: block;
	justify-content: center;
	text-align: center;
	align-items: center;
}


/* MAIN CONTENT */
.photography-container {
	display: grid;
	flex-direction: row;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
	padding: 30px 200px 50px;
}

.photography-container img {
	max-width: 100%;
}

@media (max-width: 1100px) {
.hamburger-menu {
	padding-right: 50px;
}

.nav-logo {
	padding: 50px;
} 

.photography-container {
	display: block;
	padding: 50px;
	}
}

@media (min-width: 1085px) {
	.hamburger-menu {
		display: block;
		cursor: pointer;
	}
}

.green-color {
	color: #03C988;
}

/* HIDDEN IMAGE CONTENT */
.hiddenimg {
	display: none;
}

.hiddentxt:hover ~ .hiddenimg {
	display: block;
	position: absolute;
	top: 150px;
	left: 1040px;
		z-index: -100;
}

.hiddenimg2 {
	display: none;
}

.hiddentxt:hover ~ .hiddenimg2 {
	display: block;
	position: absolute;
	top: 300px;
	left: 250px;
		z-index: -100;
}


/* RESUME SPIN CONTENT */
.resume-spin {
	width: 200px;
	height: 200px;
	animation: resumespin 7s infinite;
  animation-timing-function: linear;
}

@keyframes resumespin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }

}

/* FOOTER CONTENT */
.footer-content {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 30px 0;
}


/* FOOTER CONTENT */
.about-site-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
}

.copy-text {
	display: flex-end;
	padding-right: 200px;
}

.flower-logo {
	display: flex;
	width: 40px;
	height: 40px;
	padding-left: 200px;
}


@media (max-width: 1100px) {
	.flower-logo {
		padding-left: 50px;
	}
	
	.copy-text {
		padding-right: 50px;
	}